<ion-header>
  <ion-toolbar>
    <ion-title>Book Slot</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
	<form [formGroup]=slotForm >
		<ion-item>
	      <ion-label position="floating">Car Number</ion-label>
	      <ion-input type="text" formControlName="carNumber"></ion-input>
    	</ion-item>
    	<ion-item>
		  <ion-label>Slot Name</ion-label>
		  <ion-label formControlName="slotName">{{passName}}</ion-label>
		</ion-item>
    	<ion-item>
		  <ion-label floating>Time Start</ion-label>
		  <ion-datetime displayFormat="DD-MM-YYYY HH:mm" formControlName="startT" [(ngModel)]="startT"></ion-datetime>
		</ion-item>
	  	<ion-item>
		  <ion-label floating>Time End</ion-label>
		  <ion-datetime displayFormat="DD-MM-YYYY HH:mm" formControlName="endT" [(ngModel)]="endT"></ion-datetime>
		</ion-item>

	  	<ion-button shape="round" color="primary" expand="block" [disabled]="!slotForm.valid" (click)="submitSlot()">Submit</ion-button>
	</form>

</ion-content>
